////////////////////////////////////////////////
// UNITED
////////////////////////////////////////////////
$grey-darker: #222;
$grey-dark: #333;
$grey: #777;
$grey-light: #aea79f;
$grey-lighter: #ddd;

$orange: #e95420;
$yellow: #efb73e;
$green: #38b44a;
$purple: #772953;
$red: #df382c;
$blue: #17a2b8;

$primary: $orange !default;
$info: $purple;

$yellow-invert: #fff;
$warning-invert: $yellow-invert;

$family-sans-serif: "Ubuntu", Tahoma, "Helvetica Neue", Arial, sans-serif;
$body-size: 14px;

$size-7: 0.8575rem;

$subtitle-color: $grey;

$navbar-background-color: #aea79f;
$navbar-item-color: #fff;
$navbar-item-hover-color: $navbar-item-color;
$navbar-item-active-color: $navbar-item-color;
$navbar-item-hover-background-color: rgba(#000, 0.1);
$navbar-item-active-background-color: rgba(#000, 0.1);
$navbar-dropdown-arrow: $navbar-item-color;

$bulmaswatch-import-font: true !default;

$control-height: 2.572em;

@import '../node_modules/bulma/bulma.sass';
// @import '../node_modules/nprogress/nprogress.css';


// Overrides
@if $bulmaswatch-import-font {
  @import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");
}

.button {
  &.is-active,
  &:active {
    box-shadow: inset 1px 1px 4px rgba($grey-darker, 0.3);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-hovered,
      &:hover {
        background-color: darken($color, 10);
      }

      &.is-active,
      &:active {
        box-shadow: inset 1px 0 3px rgba($grey-darker, 0.3);
        background-color: darken($color, 10);
      }
    }
  }
}

.input,
.textarea {
  box-shadow: none;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.navbar {
  @include touch {
    .navbar-menu {
      background-color: inherit;
    }
  }

  @include desktop {
    .navbar-dropdown .navbar-item {
      color: $text;

      &.is-active {
        background-color: $navbar-dropdown-item-hover-background-color;
      }
    }
  }

  &.is-transparent {
    background-color: transparent;
    .navbar-item,
    .navbar-link {
      color: $text;
    }
  }

  .navbar-link::after {
    border-color: currentColor;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      @include touch {
        .navbar-item,
        .navbar-link {
          color: $color-invert;
        }
      }
    }
  }
}

.hero {
  .navbar {
    .navbar-item,
    .navbar-link {
      color: inherit;
    }

    @include desktop {
      .navbar-dropdown .navbar-item {
        color: $text;
      }
    }
  }
}

.rounded {
  border-radius: 10px;
}

.rounded-full {
  border-radius: 100%;
}

.shadow {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.flagSize {
  height: 20px;
  width: 40px;
}


.profile-pic-settings {
  height: 200px;
  width: 200px;
  background-position: center center;
  background-size: cover;
}